<p-toast></p-toast>
<div *ngIf="!login" class="login-container">
<h1>Login</h1>
<form>
  <div class="p-input-filled">
    <label for="usuario">Usuário:</label><br>
    <input type="text" [(ngModel)]="usuario.name" name="usuario.name" pInputText>
  </div><br>
  <div class="p-input-filled">
    <label for="password">Senha:</label><br>
    <input type="password" id="password" [(ngModel)]="usuario.senha" name="usuario.senha" pInputText>
  </div><br>
  <div class="button-container">
  <button (click)="realizarLogin()" pButton pRipple label="Acessar" icon="pi" class="p-button p-mr-2"></button>
  </div>
</form>
</div>
<div *ngIf="login" class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPersons()" [disabled]="!selectedPersons || !selectedPersons.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="persons" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
    [(selection)]="selectedPersons" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
<ng-template pTemplate="caption">
<div class="p-d-flex p-ai-center p-jc-between">
  <h5 class="p-m-0">Lista de usuários</h5>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Procurar..." />
  </span>
</div>
</ng-template>
<ng-template pTemplate="header">
<tr>
  <th style="width: 3rem">
    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
  </th>
  <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
  <th pSortableColumn="born">Data de Nascimento <p-sortIcon field="born"></p-sortIcon></th>
  <th pSortableColumn="gender">Gênero <p-sortIcon field="gender"></p-sortIcon></th>
  <th pSortableColumn="height">Altura <p-sortIcon field="height"></p-sortIcon></th>
  <th pSortableColumn="weight">Peso <p-sortIcon field="weight"></p-sortIcon></th>
  <th pSortableColumn="street">Rua <p-sortIcon field="street"></p-sortIcon></th>
  <th pSortableColumn="number">Número <p-sortIcon field="number"></p-sortIcon></th>
  <th pSortableColumn="city">Cidade <p-sortIcon field="city"></p-sortIcon></th>
  <th pSortableColumn="zipCode">CEP <p-sortIcon field="zipCode"></p-sortIcon></th>                
  <th pSortableColumn="notes">Notas <p-sortIcon field="notes"></p-sortIcon></th>
  <th pSortableColumn="phone">Telefone <p-sortIcon field="phone"></p-sortIcon></th>
  <th pSortableColumn="update">Atualizar <p-sortIcon field="update"></p-sortIcon></th>
  <th></th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-person >
<tr>
  <td>
    <p-tableCheckbox [value]="person"></p-tableCheckbox>
  </td>
  <td>{{person.name}}</td>
  <td>{{person.born}}</td>
  <td>{{person.gender}}</td>
  <td>{{person.height}}</td>
  <td>{{person.weight}}</td>
  <td>{{person.zipCode}}</td>
  <td>{{person.street}}</td>
  <td>{{person.number}}</td>
  <td>{{person.complement}}</td>
  <td>{{person.city}}</td>
  <td>{{person.notes}}</td>
  <td>{{person.phone}}</td>
  <td>
    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPerson(person)"></button>
    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePerson(person)"></button>
  </td>
</tr>
</ng-template>
</p-table>
</div>
    
<p-dialog [(visible)]="personDialog" [style]="{width: '450px'}" header="Person Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Nome</label>
            <input type="text" pInputText id="name" [(ngModel)]="person.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !person.name">Nome é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="born">Data de Nascimento</label>
            <p-calendar [(ngModel)]="person.born" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <div class="p-field">
            <label for="gender">Gênero</label>
            <input type="text" pInputText id="gender" [(ngModel)]="person.gender" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !person.gender">Gênero é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="height">Altura</label>
            <input type="text" pInputText id="height" [(ngModel)]="person.height" required autofocus />
        </div>
        <div class="p-field">
            <label for="weight">Peso</label>
            <input type="text" pInputText id="weight" [(ngModel)]="person.weight" required autofocus />
        </div>

        <div class="p-field">
        <label for="zipCode">Cep</label>
        <input type="text" pInputText id="zipCode" [(ngModel)]="person.zipCode" [(ngModel)]="zipCode" placeholder="Digite o Cep" required autofocus />
        <button (click)="buscarCEP()">Buscar</button>
        </div>
        <div *ngIf="address"  class="p-field">
        <div class="p-field">
        <label for="street">Rua</label>
        <input type="text" pInputText id="street" [(ngModel)]="person.street" required autofocus />
        </div>
        <div class="p-field">
        <label for="number">Número</label>
        <input type="text" pInputText id="number" [(ngModel)]="person.number" required autofocus />
        </div>
        <div class="p-field">
        <label for="complement">Complemento</label>
        <input type="text" pInputText id="complement" [(ngModel)]="person.complement" required autofocus />
        </div>
        <div class="p-field">
        <label for="neighborhood">Bairro</label>
        <input type="text" pInputText id="neighborhood" [(ngModel)]="person.neighborhood" required autofocus />
        </div>
        <div class="p-field">
        <label for="city">Cidade</label>
        <input type="text" pInputText id="city" [(ngModel)]="person.city" required autofocus />
        </div>
        <div class="p-field">
        <label for="state">Estado</label>
        <input type="text" pInputText id="state" [(ngModel)]="person.state" required autofocus />
        </div>

        </div>
        <div class="p-field">
            <label for="notes">Notas do Usuário</label>
            <textarea id="notes" pInputTextarea [(ngModel)]="person.notes" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="phone">Telefone</label>
            <input type="text" pInputText id="phone" [(ngModel)]="person.phone" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !person.phone">Telefone é obrigatório.</small>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePerson()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>